body {padding: 2em;
    font: normal 12px/14px tahoma,arial,verdana,sans-serif;
    background: #e6e4e4 !important;
    margin: 0;
    text-align: left;
    color: #000;
    box-sizing: border-box;

}
.searchIcon{height:20px;width: 20px;    margin: 0 5px;cursor: pointer;}
/*{background:#e9e9e9
border:#d0d0d0
} */
#serviceHeader .boldText {
    font-weight: bold;
}
#serviceHeader input
{width: 70px;
    height: 30px;}

#planHeader > div {
    padding-bottom: 0;
}
#planHeader >div.selectGroup{
    padding-top:20px
}
#planHeader.selectInput,#planHeader .planInput {
    margin: 0 10px;
}

#planHeader .planInput{
    height:30px;
    width:70px;
}
#planHeader  .planInputGroup{
padding-top:20px
}
.p-dropdown.p-component.selectInput.planCollection,.p-dropdown.p-component.selectInput.planPrice{
width: 270px;
margin: 0 10px;
}
body .p-selectbutton .p-button {
    background: #fff !important;
    color: #000;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #c0171d !important;
    font-size: 12px
}
body .p-button.p-button-text-only .p-button-text {padding:2px 5px !important}

body .p-selectbutton .p-button.p-highlight,.burgundybutton{
    
    /* background-color:#e91224 !important;border:#e91224 !important; */
    color: #fff !important;
    font-size: 12px !important;
    font-weight: bold;
    border: solid 1px #c0171d !important;
    background: #ed1c24 !important;
    background: -moz-radial-gradient(center, ellipse cover, #ed1c24 0, #c0171d 100%, #c0171d 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ed1c24), color-stop(100%, #c0171d), color-stop(100%, #c0171d));
    background: -webkit-radial-gradient(center, ellipse cover, #ed1c24 0, #c0171d 100%, #c0171d 100%);
    background: -o-radial-gradient(center, ellipse cover, #ed1c24 0, #c0171d 100%, #c0171d 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ed1c24 0, #c0171d 100%, #c0171d 100%);
    background: radial-gradient(ellipse at center, #ed1c24 0, #c0171d 100%, #c0171d 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#c0171d', GradientType=1);
    background-image: -ms-radial-gradient(center, circle farthest-corner, #ed1c24 0, #c0171d 100%);
    background-image: -moz-radial-gradient(center, circle farthest-corner, #ed1c24 0, #c0171d 100%);
    background-image: -o-radial-gradient(center, circle farthest-corner, #ed1c24 0, #c0171d 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #ed1c24), color-stop(1, #c0171d));
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #ed1c24 0, #c0171d 100%);
    background-image: radial-gradient(circle farthest-corner at center, #ed1c24 0, #c0171d 100%) !important;
    padding: 4px 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: auto;
    min-width: 80px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: visible;
    -webkit-box-shadow: #666 0 2px 3px;
    -moz-box-shadow: #666 0 2px 3px;
    border-collapse: separate;
    box-shadow: #666 0 2px 3px;
    position: relative;
    zoom: 1;
    cursor: pointer;
    outline: 0;
    text-transform: capitalize
}
.burgundybutton:enabled:focus{

    box-shadow: 0 0 0 0.1em #888888 !important;
}

#pt_plantable {
    height: 279px;
    background-color: white;
}

.headerline {
    background-color: #595a5d;
    border: medium none;
    color: #595a5d;
    height: 3px;
    text-align: center;
    width: 100%;
    position: relative;
    zoom: 1;
}

.titleheader.p-col-2{
    color: #595A5D;
    font-size: 130%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}


.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
       border-bottom: 3px solid #a50217 !important; 
  }
  
  .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
    border-right: 3px solid #a50217 !important;
  }

  .rwt__tab[aria-selected="true"] {
    background-image: radial-gradient(circle farthest-corner at center, #ed1c24 0, #c0171d 100%) !important;
    font-size: 12px !important;
    font-weight: bold;
    color: #fff !important;
}

.rwt__tab[aria-selected="false"]:hover {
    background-color: red !important;
    color: #fff !important;
}

.rwt__tablist[aria-orientation="vertical"] {
    border-right: none !important; 
       flex-shrink: 1; 
}

.rwt__tab {
    /* width: 100%;
    height: 140px;
     background: transparent; 
    border: 0;
    font-family: inherit;
    font-size: inherit;

    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); */
        height: 120px !important;
    border-radius: 5px !important;
    border: solid 1px #9e1d22 !important;

        background-color: #f4f4f4 !important;
        padding: 1rem 1rem;
}

.rwt__tab:focus {
    outline: 0;
    background-color: #ed1c24 !important;
    color: white !important;
}
.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
      position: relative !important;
  }

  .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
    border-right: none; 
  }

  .footer_buttons_group {
      float:right
  }
  .footer_buttons_group button {
      margin: 0 5px;
  }

 button[disabled=disabled] ,
 button:disabled  {
    background-image: none !important;
    filter: none !important;
    opacity: none !important;
    color: #000 !important;
    background-color: #dadada !important;
    border: 1px solid #000 !important;
    border-radius:5px;
}
.service_footer_button_set button{width:100%}


.pi-sort:before {
    content: "\E915";
    visibility: hidden !important;
}


body .p-datatable .p-sortable-column.p-highlight {
    background-color: #f4f4f4 !important;
    color: #333333 !important;
    border: 1px solid #c8c8c8 !important;
}

.pi-sort-down:before {
    content: "\E913";
    color: #595a5d94 !important;
}

.pi-sort-up:before {
    content: "\E914";
    color: #595a5d94 !important;
}

body .p-datatable .p-datatable-tbody > tr > td {
    background: inherit;
     border: none !important; 
    padding: 0.429em 0.857em;
}

body .p-datatable .p-datatable-thead > tr > th .p-checkbox .p-component {
margin: -5px 3px 4px -1px;
    -webkit-appearance: checkbox;
}


/* body .p-checkbox .p-checkbox-box {
width: 15px !important;
    height: 15px !important;
} */
body .p-datatable .p-datatable-tbody > tr:hover {background-color: #dbdbdb3d !important; color: #333333 !important;}

body .p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #ffffff !important; 
    color: #333333 !important; 
}

body .p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #e6e6fd!important; 
    color: #333333 !important; 
}
body .p-datatable .p-datatable-tbody > tr:nth-child(even).p-highlight{
    background-color: #e6e6fd!important; 
    color: #333333 !important; 
}
body .p-datatable .p-sortable-column:focus {
    box-shadow: none !important;
}

body .p-component {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
     font-size: none !important;
}

body .dropdown:not(.p-disabled).p-focus{
    box-shadow: 0 0 0 0.2em !important;
    border-color: none !important;
}